/*------------------------------------------------------------------------------Variables */
@import 'variables';
/*------------------------------------------------------------------------------Animaciones */
@import 'animate';
/*------------------------------------------------------------------------------Normalizador */
@import 'normalize';
/*------------------------------------------------------------------------------Mixins */
@import 'mixins';
/*------------------------------------------------------------------------------Tipografía */
@import 'fonts';

/*------------------------------------------------------------------------------Grillas */
.row {
  width: 100%; max-width: $max-width-row; margin-left: auto; margin-right: auto;
  &.small{
    max-width: 1220px;
  }
}

//Generador de grilla
@include ninja-grid(12, 10, 1450, grid);
/*------------------------------------------------------------------------------Auxiliares */
.to-the-left {float: left;}
.to-the-right {float: right;}

.align-left {text-align: left}

.align-center {text-align: center}
.align-right {text-align: right}

.relative-position {position: relative;}

.inline-list {
  display: table;
  width: 100%;
  li {
    display: table-cell;
    vertical-align: middle;
  }
  &.floated {
    display: block;
    @extend .clearfix;
    li {
      display: block;
      float: left;
    }
  }
}

//Clases para realizar animaciones con delay
@for $i from 0 through 11 {
  .delay-animation.delay-#{$i} {
    animation-delay: ($i * 450ms);
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.button-reset {
  @include appearance(none);
  background: transparent;
  border-radius: 0px;
  border: 0px;
  outline: 0px;
  padding: 0px;
}

.elastic-img {
  width: 100%;
  height: auto;
}

.elastic-img-limit {
  max-width: 100%;
  height: auto;
}

.centered-img {
  display: block;
  margin: 0 auto;
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.rounded-image {
  border-radius: 100%;
  border: 1px solid #D5D5D5;
}

.clear-margin {
  margin: 0;
}

.margin-bottom-wrapp {
  margin-bottom: 20px;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
}

.ajax-loader{
  width: 300px;
  height: 1px;
  background-color: #d2d2d2;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: fixed;
  &.relative{
    position: relative;
  }
  &.absolute{
    position: absolute;
    top: 40%;
  }
  .ajax-loader-indicator{
    background-color: $titles;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: block;
    animation: slide 1.75s ease-in-out infinite alternate;
    position: absolute;
    top: -5px;
  }
}

.ohidden{
  overflow: hidden;
}
/*------------------------------------------------------------------------------Generales */
html {
  font-size: #{$font-size-base}px;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  background-color: $body-bg;
  font-size: #{$font-size-base}px;
  -webkit-backface-visibility: hidden;
  color: $text-color;
  &.preload{
    overflow: hidden;
  }
}

button {
  font-family: $font-family-base;
}

a {
  color: $link-color;
  text-decoration: none;
  outline: 0 none;
  transition: all 350ms ease;
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
  &:before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    background-color: $link-color;
    transition: width 350ms ease;
  }
  &:hover {
    color: darken($link-color, 15%);
    outline: 0 none;
    border-color: transparent;
    &:before{
      width: 100%
    }
  }
  &:focus {
    outline: 0 none;
  }
}

ul {
  margin-left: 0;
}

p {
  font-size: 1em;
  margin: 0;
  line-height: $line-height-base;
  margin-bottom: $margin;
  &:last-child {
    margin-bottom: 0;
  }
}

/*------------------------------------------------------------------------------Fondos */


/*------------------------------------------------------------------------------Headlines */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
  color: $titles;
  line-height: 120%;
  font-weight: 300;
  margin-bottom: 20px;
}

h1{
  margin-bottom: 50px;
}

h1 {font-size: $h1-size}
h2 {font-size: $h2-size}
h3 {font-size: $h3-size}
h4 {font-size: $h4-size;}
h5 {font-size: $h5-size}
h6 {font-size: $h6-size}

/*------------------------------------------------------------------------------Icons */

.icon-element {
  @extend .button-reset;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-image: url('../images/sprite.svg');
  background-repeat: no-repeat;
  background-position: center center;
  speak: none;
  /*------------------Generales----*/
  &.inline-left {
    margin-right: 10px;
  }
  &.inline-right {
    margin-left: 10px;
  }
  &.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/*------------------------------------------------------------------------------Buttons */
.btn {
  @extend .button-reset;
  font-family: $font-family-base;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 20px;
  width: auto;
  height: auto;
  line-height: 120%;
  transition: background 300ms ease;
  color: #FFFFFF;
  transition: all 350ms ease;
  background-color: $titles;
  padding: 20px 50px;
  &:hover{
    background-color: lighten($titles, 5%);
  }
  /*----------------Formas--------*/
  &.transparent {
    color: transparent;
    font-size: 0
  }
}

/*------------------------------------------------------------------------------Forms */

input, select, textarea {
  @include appearance(none);
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #CCC;
  padding: 10px;
  transition: all 350ms ease;
  height: 45px;
  background-color: #FFF;
  &:hover{
    border-color: $titles;
  }
  &:focus {
    outline: 0 none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  }
}
.invalid-input{
  border: 1px solid #c74325;
}
textarea{
  min-height: 350px;
}
/*------------------------------------------------------------------------------Header */

/*------------------------------------------------------------------------------Tables */

table {
  width: 100%;
}

/*------------------------------------------------------------------------------Contenedores */

/*------------------------------------------------------------------------------Footer */
/*------------------------------------------------------------------------------OLD IE */
/*------------------------------------------------------------------------------Media Queries */

@media only screen and (max-width: $max-width-row) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}