$font-family-base: 'Open Sans', sans-serif;//Familia tipográfica base
$line-height-base: 160%;//Line height base
$font-size-base: 14;//Tamaño base en pixeles

$link-color: #007BC1;//Color del link principal
$link-hover-color: darken($link-color, 15%);
$body-bg: #FFF;//Fondo del body

$max-width-row: 1170px;

$h1-size: #{(20 / $font-size-base)}em;
$h2-size: #{(18 / $font-size-base)}em;
$h3-size: #{(16 / $font-size-base)}em;
$h4-size: #{(14 / $font-size-base)}em;
$h5-size: 1.5em;
$h6-size: 1.2em;

$margin: 20px; //Margen general

/*----Colores principales----*/


/*----Colores secundarios----*/


/*----Breakpoints----*/

$breakpoints: (
  xlarge: "(min-width : 1300px)",
  large: "(min-width: 1024px) and (max-width : 1300px)",
  medium: "(min-width: 768px) and (max-width:1024px)",
  small: "(max-width : 767px)"
);